@model DeviceHistoryWebApp.User

@{
    ViewBag.Title = "Import Users";
}

<h2>Import Users</h2>

<form action="" method="post" enctype="multipart/form-data">
    <p>
        Import Devices from CSV File:  <input type="file" name="file" id="file" />
        <input type="submit" value="Import" />
    </p>
</form>

<table class="table-bordered">
    <thead>Example Import</thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Notes</th>
    </tr>
    <tr>
        <td>Jason Cox</td>
        <td>jcox@winsor.edu</td>
        <td>Technology Support Assistant</td>
    </tr>
</table>
